/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #969696;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(124, 124, 124, 0.68);
    border-radius: 10px;
}